.drop-zone {
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background: #f9f9f9;
  transition: background-color 0.2s ease;

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

.drop-zone:hover {
  background-color: #e6f0ff;
}



.drop-zone.drag-over {
  background-color: pink; /* or something fancy */
  border-color: green;
}

.drop-zone.drag-over-normal {
  background-color: #e3f2fd; /* or something fancy */
  border-color: #42a5f5;
}

.drop-zone.cdk-drop-list-dragging {
  opacity: 0.8;
  border-color: #f44336; /* red hint when dragging */
}

