<h2>🟦 Event Blocks</h2>
<div class="block-list">
  <div
    class="draggable-block"
    *ngFor="let block of eventBlocks"
    draggable="true"
    (dragstart)="handleDragStart($event, block)">
    <app-condition-block [data]="block"></app-condition-block>
  </div>
</div>

<h2>🟩 Logical Operators</h2>
<div class="block-list">
  <div
    class="draggable-block"
    *ngFor="let block of logicalBlocks"
    draggable="true"
    (dragstart)="handleDragStart($event, block)">
    <app-condition-block [data]="block"></app-condition-block>
  </div>
</div>

<h2>🟧 Comparison Operators</h2>
<div class="block-list">
  <div
    class="draggable-block"
    *ngFor="let block of comparisonBlocks"
    draggable="true"
    (dragstart)="handleDragStart($event, block)">
    <app-condition-block [data]="block"></app-condition-block>
  </div>
</div>

<h2>🟨 Number Blocks</h2>
<div class="block-list">
  <div
    class="draggable-block"
    *ngFor="let block of numberBlocks"
    draggable="true"
    (dragstart)="handleDragStart($event, block)">
    <app-condition-block [data]="block"></app-condition-block>
  </div>
</div>

<app-drop-zone></app-drop-zone>
